/* You can add global styles to this file, and also import other style files */
body{
  font-size: 13px;
}
.bg-color {
  background-color: #dde1ec;
}
.app-text-color {
  color: #668fe7 !important;
}
body .bs-datepicker-container .bs-datepicker-head{
  background-color: #fff;
}
body .bs-datepicker-container .bs-datepicker-head * {
  color: #000;
}
